@font-face {
  font-family: "iconfont"; /* Project id 2607988 */
  src: url('iconfont.woff2?t=1623402158617') format('woff2'),
       url('iconfont.woff?t=1623402158617') format('woff'),
       url('iconfont.ttf?t=1623402158617') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-geren1:before {
  content: "\e778";
}

.icon-mima:before {
  content: "\e77b";
}

